##**Student Mental Health Analysis**##

>Student mental health is a complex and multifaceted issue that has garnered
increasing attention in recent years. With the rise of academic and social pressures, coupled with the ongoing COVID-19 pandemic, the mental health of students has become a major concern for educators, parents, and policymakers alike.


>According to various studies, the prevalence of mental health disorders among college students is significant. In fact, the American College Health Association has reported that anxiety and depression are the two most commonly reported mental health concerns among college students, affecting approximately one in three students. Other common mental health disorders that students may experience include eating disorders, substance abuse, and post-traumatic stress disorder (PTSD).

>In addition to these disorders, students may also face a range of stressors and challenges that can impact their mental health, such as academic pressure, social isolation, financial stress, and relationship issues. These stressors can be particularly acute during periods of transition, such as the move from high school to college or from college to the workforce.

>To address these challenges, universities and colleges have implemented a range of mental health support services, including counseling, therapy, and psychiatric services. Additionally, some institutions have implemented initiatives to promote student well-being, such as mindfulness training, stress reduction programs, and mental health awareness campaigns.

>Despite these efforts, there are still significant gaps in mental health support for students, particularly for those from marginalized communities who may face additional barriers to accessing care. Moreover, many students may be reluctant to seek out mental health support due to stigma and other concerns, highlighting the need for increased education and awareness around mental health issues.

>In conclusion, student mental health is a critical issue that requires ongoing attention and action from educators, policymakers, and the broader community. By prioritizing mental health support and promoting a culture of well-being, we can help ensure that students are able to thrive both academically and personally.

##Importing all required libraries##

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Depression analysis/Student Mental health.csv")

In [ ]:
data.head()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No

In [ ]:
data.tail()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
96,13/07/2020 19:56:49,Female,21.0,BCS,year 1,3.50 - 4.00,No,No,Yes,No,No
97,13/07/2020 21:21:42,Male,18.0,Engineering,Year 2,3.00 - 3.49,No,Yes,Yes,No,No
98,13/07/2020 21:22:56,Female,19.0,Nursing,Year 3,3.50 - 4.00,Yes,Yes,No,Yes,No
99,13/07/2020 21:23:57,Female,23.0,Pendidikan Islam,year 4,3.50 - 4.00,No,No,No,No,No
100,18/07/2020 20:16:21,Male,20.0,Biomedical science,Year 2,3.00 - 3.49,No,No,No,No,No

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 11 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Timestamp                                     101 non-null    object
 1   Choose your gender                            101 non-null    object
 2   Age                                           100 non-null    float64
 3   What is your course?                          101 non-null    object
 4   Your current year of Study                    101 non-null    object
 5   What is your CGPA?                            101 non-null    object
 6   Marital status                                101 non-null    object
 7   Do you have Depression?                       101 non-null    object
 8   Do you have Anxiety?                          101 non-null    object
 9   Do you have Panic attack?                     101 non-null    object
 10  Did you seek any specialist for a treatment?  101 non-null    object
dtypes: float64(1), object(10)
memory usage: 8.8+ KB

In [ ]:
data.describe()

             Age
count  100.00000
mean    20.53000
std      2.49628
min     18.00000
25%     18.00000
50%     19.00000
75%     23.00000
max     24.00000

##How many elements are there?##

In [ ]:
data.size

1111

In [ ]:
data.shape

(101, 11)

##What types of columns we have in this data frame?##

In [ ]:
data.dtypes

Timestamp                                        object
Choose your gender                               object
Age                                             float64
What is your course?                             object
Your current year of Study                       object
What is your CGPA?                               object
Marital status                                   object
Do you have Depression?                          object
Do you have Anxiety?                             object
Do you have Panic attack?                        object
Did you seek any specialist for a treatment?     object
dtype: object

##What are the column names?##

In [ ]:
data.columns

Index(['Timestamp', 'Choose your gender', 'Age', 'What is your course?',
       'Your current year of Study', 'What is your CGPA?', 'Marital status',
       'Do you have Depression?', 'Do you have Anxiety?',
       'Do you have Panic attack?',
       'Did you seek any specialist for a treatment?'],
      dtype='object')

In [ ]:
data['Marital status']

0       No
1       No
2       No
3      Yes
4       No
      ...
96      No
97      No
98     Yes
99      No
100     No
Name: Marital status, Length: 101, dtype: object

In [ ]:
data.loc[2]

Timestamp                                       8/7/2020 12:05
Choose your gender                                        Male
Age                                                       19.0
What is your course?                                       BIT
Your current year of Study                              Year 1
What is your CGPA?                                 3.00 - 3.49
Marital status                                              No
Do you have Depression?                                    Yes
Do you have Anxiety?                                       Yes
Do you have Panic attack?                                  Yes
Did you seek any specialist for a treatment?                No
Name: 2, dtype: object

In [ ]:
data.values

array([['8/7/2020 12:02', 'Female', 18.0, ..., 'No', 'Yes', 'No'],
       ['8/7/2020 12:04', 'Male', 21.0, ..., 'Yes', 'No', 'No'],
       ['8/7/2020 12:05', 'Male', 19.0, ..., 'Yes', 'Yes', 'No'],
       ...,
       ['13/07/2020 21:22:56', 'Female', 19.0, ..., 'No', 'Yes', 'No'],
       ['13/07/2020 21:23:57', 'Female', 23.0, ..., 'No', 'No', 'No'],
       ['18/07/2020 20:16:21', 'Male', 20.0, ..., 'No', 'No', 'No']],
      dtype=object)

In [ ]:
data.ndim

2

##Minimum##

In [ ]:
data.min()

Timestamp                                       13/07/2020 10:07:32
Choose your gender                                           Female
Age                                                            18.0
What is your course?                                            ALA
Your current year of Study                                   Year 1
What is your CGPA?                                         0 - 1.99
Marital status                                                   No
Do you have Depression?                                          No
Do you have Anxiety?                                             No
Do you have Panic attack?                                        No
Did you seek any specialist for a treatment?                     No
dtype: object

##Maximum##

In [ ]:
data.max()

Timestamp                                       9/7/2020 6:57
Choose your gender                                       Male
Age                                                      24.0
What is your course?                               psychology
Your current year of Study                             year 4
What is your CGPA?                               3.50 - 4.00
Marital status                                            Yes
Do you have Depression?                                   Yes
Do you have Anxiety?                                      Yes
Do you have Panic attack?                                 Yes
Did you seek any specialist for a treatment?              Yes
dtype: object

##Standart Deviation##

In [ ]:
data.std()

<ipython-input-152-a47ac8255c06>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.std()

Age    2.49628
dtype: float64

##Mean##

In [ ]:
data.mean()

<ipython-input-153-abc01cf6c622>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean()

Age    20.53
dtype: float64

##Median##

In [ ]:
data.median()

<ipython-input-154-135339ac59ce>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.median()

Age    19.0
dtype: float64

##Mean value of first 50 records in dataset##

In [ ]:
age = data['Age'][:51]

In [ ]:
age

0     18.0
1     21.0
2     19.0
3     22.0
4     23.0
5     19.0
6     23.0
7     18.0
8     19.0
9     18.0
10    20.0
11    24.0
12    18.0
13    19.0
14    18.0
15    24.0
16    24.0
17    24.0
18    20.0
19    18.0
20    19.0
21    18.0
22    24.0
23    24.0
24    23.0
25    18.0
26    19.0
27    18.0
28    24.0
29    24.0
30    23.0
31    18.0
32    19.0
33    18.0
34    19.0
35    18.0
36    18.0
37    19.0
38    18.0
39    24.0
40    24.0
41    22.0
42    20.0
43     NaN
44    23.0
45    18.0
46    19.0
47    18.0
48    24.0
49    24.0
50    23.0
Name: Age, dtype: float64

In [ ]:
print("Mean of first 50 ages of dataset: ",age.mean())

Mean of first 50 ages of dataset:  20.58

##Standardizing Object Column Labels: Converting to Lowercase##
>To ensure uniformity in the labeled columns of the data, all object columns should be converted to lowercase. This will help in standardizing the format of the data and make it easier to work with.

In [ ]:
data.head()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No

In [ ]:
columns = list(data.columns)
for column in columns:
  if column not in ['Timestamp', 'Age', 'What is your CGPA?']:
    data[column] = data[column].apply(str.lower)
data

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,female,18.0,engineering,year 1,3.00 - 3.49,no,yes,no,yes,no
1,8/7/2020 12:04,male,21.0,islamic education,year 2,3.00 - 3.49,no,no,yes,no,no
2,8/7/2020 12:05,male,19.0,bit,year 1,3.00 - 3.49,no,yes,yes,yes,no
3,8/7/2020 12:06,female,22.0,laws,year 3,3.00 - 3.49,yes,yes,no,no,no
4,8/7/2020 12:13,male,23.0,mathemathics,year 4,3.00 - 3.49,no,no,no,no,no
...,...,...,...,...,...,...,...,...,...,...,...
96,13/07/2020 19:56:49,female,21.0,bcs,year 1,3.50 - 4.00,no,no,yes,no,no
97,13/07/2020 21:21:42,male,18.0,engineering,year 2,3.00 - 3.49,no,yes,yes,no,no
98,13/07/2020 21:22:56,female,19.0,nursing,year 3,3.50 - 4.00,yes,yes,no,yes,no
99,13/07/2020 21:23:57,female,23.0,pendidikan islam,year 4,3.50 - 4.00,no,no,no,no,no
100,18/07/2020 20:16:21,male,20.0,biomedical science,year 2,3.00 - 3.49,no,no,no,no,no

##Group by year and finded mean, median, count and std of age##

In [ ]:
groupByYear = data.groupby(['Your current year of Study'])

In [ ]:
groupByYear.mean()

                                  Age
Your current year of Study
year 1                      20.047619
year 2                      20.230769
year 3                      21.208333
year 4                      22.000000

In [ ]:
groupByYear.median()

                             Age
Your current year of Study
year 1                      19.0
year 2                      19.0
year 3                      21.0
year 4                      23.0

In [ ]:
groupByYear.std()

                                 Age
Your current year of Study
year 1                      2.388513
year 2                      2.454509
year 3                      2.519130
year 4                      2.563480

In [ ]:
groupByYear.count()

,Timestamp,Choose your gender,Age,What is your course?,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
Your current year of Study,,,,,,,,,,
year 1,43,43,42,43,43,43,43,43,43,43
year 2,26,26,26,26,26,26,26,26,26,26
year 3,24,24,24,24,24,24,24,24,24,24
year 4,8,8,8,8,8,8,8,8,8,8

##Replace all wrong engineering word to correct format##

In [ ]:
data['What is your course?'] = data['What is your course?'].replace({"engin": "engineering", "engine": "engineering"})

In [ ]:
groupedData = data.groupby(['What is your course?'])
groupedData.mean()

                               Age
What is your course?
accounting               24.000000
ala                      23.000000
banking studies          18.000000
bcs                      20.444444
benl                     20.333333
biomedical science       20.250000
biotechnology            19.000000
bit                      21.333333
business administration  23.000000
communication            24.000000
cts                      18.000000
diploma nursing          24.000000
diploma tesl             23.000000
econs                    23.000000
engineering              20.550000
enm                      24.000000
fiqh                     24.000000
fiqh fatwa               19.000000
human resources          19.000000
human sciences           18.000000
irkhs                    18.000000
islamic education        19.500000
it                       18.000000
kenms                    18.000000
kirkhs                   20.500000
koe                      19.500000
kop                      24.000000
law                      18.000000
laws                     20.000000
malcom                   18.000000
marine science           18.000000
mathemathics             23.000000
mhsc                     19.000000
nursing                  19.000000
pendidikan islam         23.000000
pendidikan islam         19.000000
psychology               18.666667
radiography              23.000000
taasl                    23.000000
usuluddin                20.000000

##Encoding yes and no to 1 and 0

In [ ]:
data.columns

Index(['Timestamp', 'Choose your gender', 'Age', 'What is your course?',
       'Your current year of Study', 'What is your CGPA?', 'Marital status',
       'Do you have Depression?', 'Do you have Anxiety?',
       'Do you have Panic attack?',
       'Did you seek any specialist for a treatment?'],
      dtype='object')

In [ ]:
columns = list(data.columns)
for column in columns:
  if column not in ['Timestamp', 'Age', 'What is your CGPA?', 'Choose your gender', 'Your current year of Study', 'What is your course?']:
    data[data[column] == 'yes'] = data[data[column] == 'yes'].replace({"yes" : 1, 'no' : 0})
data.head(10)

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,female,18.0,engineering,year 1,3.00 - 3.49,0,1,0,1,0
1,8/7/2020 12:04,male,21.0,islamic education,year 2,3.00 - 3.49,0,0,1,0,0
2,8/7/2020 12:05,male,19.0,bit,year 1,3.00 - 3.49,0,1,1,1,0
3,8/7/2020 12:06,female,22.0,laws,year 3,3.00 - 3.49,1,1,0,0,0
4,8/7/2020 12:13,male,23.0,mathemathics,year 4,3.00 - 3.49,no,no,no,no,no
5,8/7/2020 12:31,male,19.0,engineering,year 2,3.50 - 4.00,0,0,0,1,0
6,8/7/2020 12:32,female,23.0,pendidikan islam,year 2,3.50 - 4.00,1,1,0,1,0
7,8/7/2020 12:33,female,18.0,bcs,year 1,3.50 - 4.00,0,0,1,0,0
8,8/7/2020 12:35,female,19.0,human resources,year 2,2.50 - 2.99,no,no,no,no,no
9,8/7/2020 12:39,male,18.0,irkhs,year 1,3.50 - 4.00,0,0,1,1,0